In [1]:
import os
import pandas as pd

file = os.path.join("..","Resources","Summary_Report_Crimes.csv")

In [2]:
raw_df = pd.read_csv(file)
raw_df

,report_year,agency_code,agency_jurisdiction,population,violent_crimes,homicides,rapes,assaults,robberies,months_reported,crimes_percapita,homicides_percapita,rapes_percapita,assaults_percapita,robberies_percapita
0,1975,NM00101,"Albuquerque, NM",286238.0,2383.0,30.0,181.0,1353.0,819.0,12.0,832.52,10.48,63.23,472.68,286.13
1,1975,TX22001,"Arlington, TX",112478.0,278.0,5.0,28.0,132.0,113.0,12.0,247.16,4.45,24.89,117.36,100.46
2,1975,GAAPD00,"Atlanta, GA",490584.0,8033.0,185.0,443.0,3518.0,3887.0,12.0,1637.44,37.71,90.30,717.10,792.32
3,1975,CO00101,"Aurora, CO",116656.0,611.0,7.0,44.0,389.0,171.0,12.0,523.76,6.00,37.72,333.46,146.58
4,1975,TX22701,"Austin, TX",300400.0,1215.0,33.0,190.0,463.0,529.0,12.0,404.46,10.99,63.25,154.13,176.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2824,2015,OK07205,"Tulsa, OK",401520.0,3628.0,55.0,365.0,2354.0,854.0,NaN,903.57,13.70,90.90,586.27,212.69
2825,2015,VA12800,"Virginia Beach, VA",452797.0,626.0,19.0,103.0,234.0,270.0,NaN,138.25,4.20,22.75,51.68,59.63
2826,2015,DCMPD00,"Washington, DC",672228.0,8084.0,162.0,494.0,4024.0,3404.0,NaN,1202.57,24.10,73.49,598.61,506.38
2827,2015,KS08703,"Wichita, KS",389824.0,3839.0,27.0,349.0,2730.0,733.0,NaN,984.80,6.93,89.53,700.32,188.03
2828,2015,NaN,United States,NaN,1197704.0,15696.0,NaN,NaN,NaN,NaN,372.60,4.90,NaN,NaN,NaN

In [8]:
# List of cities of interest
city_list = ['Houston, TX', 'Los Angeles, CA', 'Chicago, IL', 'New York City, NY', 'Phoenix, AZ']

# Drop years prior to 2012 to accomodate with housing market data.
drop_index = raw_df[raw_df['report_year'] < 2012].index
raw_df.drop(drop_index, inplace=True)

# New raw data from 2012-2015
new_df = raw_df
new_df.head(10)

,report_year,agency_code,agency_jurisdiction,population,violent_crimes,homicides,rapes,assaults,robberies,months_reported,crimes_percapita,homicides_percapita,rapes_percapita,assaults_percapita,robberies_percapita
2553,2012,NM00101,"Albuquerque, NM",553684.0,4151.0,41.0,278.0,2740.0,1092.0,12.0,749.71,7.40,50.21,494.87,197.22
2554,2012,TX22001,"Arlington, TX",379295.0,1909.0,17.0,135.0,1225.0,532.0,12.0,503.30,4.48,35.59,322.97,140.26
2555,2012,GAAPD00,"Atlanta, GA",437041.0,6027.0,83.0,113.0,3555.0,2276.0,12.0,1379.05,18.99,25.86,813.42,520.77
2556,2012,CO00101,"Aurora, CO",336952.0,1400.0,17.0,172.0,729.0,482.0,12.0,415.49,5.05,51.05,216.35,143.05
2557,2012,TX22701,"Austin, TX",832901.0,3405.0,31.0,209.0,2187.0,978.0,12.0,408.81,3.72,25.09,262.58,117.42
2558,2012,MD00301,"Baltimore County, MD",817761.0,4145.0,24.0,145.0,2609.0,1367.0,12.0,506.87,2.93,17.73,319.04,167.16
2559,2012,MDBPD00,"Baltimore, MD",625474.0,8789.0,216.0,317.0,4651.0,3605.0,12.0,1405.17,34.53,50.68,743.60,576.36
2560,2012,MA01301,"Boston, MA",630648.0,5266.0,57.0,249.0,3050.0,1910.0,12.0,835.01,9.04,39.48,483.63,302.86
2561,2012,NY01401,"Buffalo, NY",262434.0,3382.0,48.0,138.0,1808.0,1388.0,12.0,1288.70,18.29,52.58,688.94,528.89
2562,2012,NC06001,"Charlotte, NC",808504.0,5238.0,52.0,223.0,3165.0,1798.0,12.0,647.86,6.43,27.58,391.46,222.39

### Create a dataframe for violent crimes (total crimes) per capita or percentage per year for cities. Best way to show visualization would be through bar graphs.

### Create dataframes for types of crimes per city per year

### Create demographics database based on crimes.

### Utilize Google API to map crime and create a intensity graph based on violent crime percentage/per capita

### Dive deeper into crime data set by illustrating the history of crime for the major cities in question. (This wont be part of the over all analysis but it would be good to show and discuss)