In [3]:
import os
import pandas as pd

file = os.path.join("..","Resources","Summary_Report_Crimes.csv")

In [26]:
df = pd.read_csv(file)
df.head()

,report_year,agency_code,agency_jurisdiction,population,violent_crimes,homicides,rapes,assaults,robberies,months_reported,crimes_percapita,homicides_percapita,rapes_percapita,assaults_percapita,robberies_percapita
0,1975,NM00101,"Albuquerque, NM",286238.0,2383.0,30.0,181.0,1353.0,819.0,12.0,832.52,10.48,63.23,472.68,286.13
1,1975,TX22001,"Arlington, TX",112478.0,278.0,5.0,28.0,132.0,113.0,12.0,247.16,4.45,24.89,117.36,100.46
2,1975,GAAPD00,"Atlanta, GA",490584.0,8033.0,185.0,443.0,3518.0,3887.0,12.0,1637.44,37.71,90.30,717.10,792.32
3,1975,CO00101,"Aurora, CO",116656.0,611.0,7.0,44.0,389.0,171.0,12.0,523.76,6.00,37.72,333.46,146.58
4,1975,TX22701,"Austin, TX",300400.0,1215.0,33.0,190.0,463.0,529.0,12.0,404.46,10.99,63.25,154.13,176.10

In [29]:
# city_list = ['Houston, TX', 'Los Angeles, CA', 'Chicago, IL', 'New York City, NY', 'Phoenix, AZ']

# df.loc[(df['agency_jurisdiction'] == 'Houston, TX') & (df['report_year'] == 2015)]
df.drop('report_year')

,report_year,agency_code,agency_jurisdiction,population,violent_crimes,homicides,rapes,assaults,robberies,months_reported,crimes_percapita,homicides_percapita,rapes_percapita,assaults_percapita,robberies_percapita
2782,2015,TXHPD00,"Houston, TX",2275221.0,21994.0,303.0,986.0,10427.0,10278.0,NaN,966.68,13.32,43.34,458.29,451.74