In [38]:
import os
import pandas as pd

file_2012 = os.path.join("..","Resources","Texas_Cities_Crime_Resources","Texas_2012.csv")
file_2013 = os.path.join("..","Resources","Texas_Cities_Crime_Resources","Texas_2013.csv")
file_2014 = os.path.join("..","Resources","Texas_Cities_Crime_Resources","Texas_2014.csv")
file_2015 = os.path.join("..","Resources","Texas_Cities_Crime_Resources","Texas_2015.csv")
file_2016 = os.path.join("..","Resources","Texas_Cities_Crime_Resources","Texas_2016.csv")
file_2017 = os.path.join("..","Resources","Texas_Cities_Crime_Resources","Texas_2017.csv")
file_2018 = os.path.join("..","Resources","Texas_Cities_Crime_Resources","Texas_2018.csv")

In [39]:
raw_2012_df = pd.read_csv(file_2012)
raw_2013_df = pd.read_csv(file_2013)
raw_2014_df = pd.read_csv(file_2014)
raw_2015_df = pd.read_csv(file_2015)
raw_2016_df = pd.read_csv(file_2016)
raw_2017_df = pd.read_csv(file_2017)
raw_2018_df = pd.read_csv(file_2018)

In [40]:
#Rename column in 2012 dataframe
raw_2012_df = raw_2012_df.rename(columns = {"Forcible\nrape":"Rape"})
raw_2012_df.head()

,City,Year,Population,Violent\ncrime,Murder and\nnonnegligent\nmanslaughter,Rape,Robbery,Aggravated\nassault,Property\ncrime,Burglary,Larceny-\ntheft,Motor\nvehicle\ntheft,Arson
0,Abernathy,2012,"2,877",3,1,1,0,1,31,14,15,2,0
1,Abilene,2012,"119,886",472,3,38,127,304,"4,393","1,037","3,185",171,18
2,Alamo,2012,"19,178",182,0,11,10,161,"1,492",264,"1,147",81,1
3,Alamo Heights,2012,"7,305",14,0,6,4,4,240,34,198,8,0
4,Alice,2012,"19,627",172,10,8,6,148,"1,216",278,884,54,13

In [41]:
#Merge and rename columns - 2013 dataframe
raw_2013_df = raw_2013_df.fillna(0)
raw_2013_df['Rape\n(revised\ndefinition)1'] = raw_2013_df['Rape\n(revised\ndefinition)1'] +  raw_2013_df['Rape\n(legacy\ndefinition)2']
raw_2013_df = raw_2013_df.drop(['Rape\n(legacy\ndefinition)2'], axis=1)
raw_2013_df = raw_2013_df.rename(columns = {"Rape\n(revised\ndefinition)1":"Rape","Arson3": "Arson"})
raw_2013_df.head()

,City,Year,Population,Violent\ncrime,Murder and\nnonnegligent\nmanslaughter,Rape,Robbery,Aggravated\nassault,Property\ncrime,Burglary,Larceny-\ntheft,Motor\nvehicle\ntheft,Arson
0,Abernathy,2013,"2,821",0,0,0.0,0,0,12,12,0,0,1.0
1,Abilene,2013,"119,401",477,1,37.0,125,314,"4,769","1,055","3,460",254,16.0
2,Addison,2013,"15,961",51,1,4.0,11,35,784,129,593,62,1.0
3,Alamo,2013,"18,876",164,0,11.0,27,126,"1,336",203,"1,052",81,1.0
4,Alamo Heights,2013,"7,443",9,0,2.0,2,5,235,36,194,5,0.0

In [42]:
#Merge and rename columns - 2014 dataframe
raw_2014_df.drop(['Rape\n(legacy\ndefinition)2'], axis=1)
raw_2014_df = raw_2012_df.rename(columns = {"Forcible\nrape":"Rape"})
raw_2014_df

,City,Year,Population,Violent\ncrime,Murder and\nnonnegligent\nmanslaughter,Rape,Robbery,Aggravated\nassault,Property\ncrime,Burglary,Larceny-\ntheft,Motor\nvehicle\ntheft,Arson
0,Abernathy,2012,"2,877",3,1,1,0,1,31,14,15,2,0
1,Abilene,2012,"119,886",472,3,38,127,304,"4,393","1,037","3,185",171,18
2,Alamo,2012,"19,178",182,0,11,10,161,"1,492",264,"1,147",81,1
3,Alamo Heights,2012,"7,305",14,0,6,4,4,240,34,198,8,0
4,Alice,2012,"19,627",172,10,8,6,148,"1,216",278,884,54,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...
642,Woodway,2012,"8,587",11,0,5,1,5,134,13,119,2,0
643,Wortham,2012,"1,083",5,0,0,1,4,24,5,16,3,0
644,Wylie,2012,"43,645",28,2,1,3,22,613,100,485,28,1
645,Yoakum,2012,"5,935",9,0,0,1,8,189,74,108,7,2
646,Yorktown,2012,"2,142",7,0,3,0,4,30,11,19,0,0

In [43]:
#Drop blank column - 2015 datafile
raw_2015_df.drop(['Rape\n(legacy\ndefinition)2'], axis=1, inplace=True)
raw_2015_df = raw_2015_df.rename(columns = {"Rape\n(revised\ndefinition)1": "Rape"})
raw_2015_df.head()

,City,Year,Population,Violent\ncrime,Murder and\nnonnegligent\nmanslaughter,Rape,Robbery,Aggravated\nassault,Property\ncrime,Burglary,Larceny-\ntheft,Motor\nvehicle\ntheft,Arson
0,Abernathy,2015,"2,732",1,0,0,1,0,48,18,24,6,1
1,Abilene,2015,"121,764",613,7,84,128,394,"5,354","1,168","3,798",388,28
2,Addison,2015,"16,125",65,0,10,13,42,759,104,573,82,1
3,Alamo,2015,"19,385",159,0,17,13,129,"1,125",148,920,57,2
4,Alamo Heights,2015,"8,003",5,0,0,0,5,276,31,239,6,0

In [45]:
#drop blank column
raw_2016_df.drop(['Rape\n(legacy\ndefinition2)'], axis=1, inplace=True)
raw_2016_df = raw_2016_df.rename(columns = {"Rape\n(revised\ndefinition1)": "Rape"})
raw_2016_df.head()

KeyError: "['Rape\\n(legacy\\ndefinition2)'] not found in axis"

In [46]:
#rename rape column to align with other files
raw_2017_df = raw_2017_df.rename(columns = {"Rape1": "Rape", "Cities": "City"} )
raw_2017_df.head()

,City,Year,Population,Violent\ncrime,Murder and\nnonnegligent\nmanslaughter,Rape,Robbery,Aggravated\nassault,Property\ncrime,Burglary,Larceny-\ntheft,Motor\nvehicle\ntheft,Arson
0,Abernathy,2017,"2,756",8,0,0,0,8,27,3,16,8,0
1,"Abilene2, 3",2017,"122,981",636,4,100,138,394,NaN,NaN,"2,605",260,20
2,Addison,2017,"15,795",95,0,22,16,57,773,111,565,97,5
3,Alamo,2017,"19,351",178,0,15,20,143,946,124,771,51,2
4,Alamo Heights,2017,"8,507",14,0,0,1,13,182,25,152,5,0

In [47]:
#rename rape column to align with other files
raw_2018_df = raw_2018_df.rename(columns = {"Rape1": "Rape", "State": "City"})
raw_2018_df = raw_2018_df[(raw_2018_df["City"] == "Houston") | (raw_2018_df["City"] == "Pasadena")]
raw_2018_df.head()

,City,Year,Population,Violent\ncrime,Murder and\nnonnegligent\nmanslaughter,Rape,Robbery,Aggravated\nassault,Property\ncrime,Burglary,Larceny-\ntheft,Motor\nvehicle\ntheft,Arson
251,Houston,2018,"2,338,235","25,609",269,"1,366","9,773","14,201","96,532","17,108","67,828","11,596",665
415,Pasadena,2018,"154,000",711,5,93,195,418,"3,773",636,"2,758",379,23

In [62]:
crime_df = raw_2012_df.append([raw_2013_df, raw_2014_df, raw_2015_df, raw_2016_df, raw_2017_df, raw_2018_df])
crime_df = crime_df[(crime_df["City"] == "Houston") | (crime_df["City"] == "Pasadena") |(crime_df["City"] == "League City") | (crime_df["City"] == "Sugar Land") | (crime_df["City"] == "Conroe") | (crime_df["City"] == "Baytown") | (crime_df["City"] == "Missouri City") | (crime_df["City"] == "Galveston") | (crime_df["City"] == "Texas City") | (crime_df["City"] == "Friendswood")]
crime_df

,City,Year,Population,Violent\ncrime,Murder and\nnonnegligent\nmanslaughter,Rape,Robbery,Aggravated\nassault,Property\ncrime,Burglary,Larceny-\ntheft,Motor\nvehicle\ntheft,Arson
35,Baytown,2012,"74,420",247,5,15,97,130,"3,684",939,"2,438",307,23.0
115,Conroe,2012,"59,856",221,2,13,74,132,"2,061",447,"1,501",113,1.0
194,Friendswood,2012,"36,965",15,0,4,4,7,353,66,274,13,0.0
198,Galveston,2012,"49,170",296,2,37,118,139,"2,469",517,"1,792",160,12.0
255,Houston,2012,"2,177,273","21,610",217,665,"9,385","11,343","107,678","26,630","67,978","13,070",754.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
415,Pasadena,2017,"154,000",711,5,93,195,418,"3,773",636,"2,758",379,23.0
535,Sugar Land,2017,"89,790",71,0,15,36,20,"1,289",158,"1,075",56,0.0
552,Texas City,2017,"48,774",237,2,47,46,142,"1,704",336,"1,245",123,1.0
251,Houston,2018,"2,338,235","25,609",269,"1,366","9,773","14,201","96,532","17,108","67,828","11,596",665.0
415,Pasadena,2018,"154,000",711,5,93,195,418,"3,773",636,"2,758",379,23.0

### Create a dataframe for violent crimes (total crimes) per capita or percentage per year for cities. Best way to show visualization would be through bar graphs.

### Create dataframes for types of crimes per city per year

### Create demographics database based on crimes.

### Utilize Google API to map crime and create a intensity graph based on violent crime percentage/per capita

### Dive deeper into crime data set by illustrating the history of crime for the major cities in question. (This wont be part of the over all analysis but it would be good to show and discuss)