In [7]:
import os
import pandas as pd

file_2012 = os.path.join("..","Resources","Texas_Cities_Crime_Resources","Texas_2012.csv")
file_2013 = os.path.join("..","Resources","Texas_Cities_Crime_Resources","Texas_2013.csv")
file_2014 = os.path.join("..","Resources","Texas_Cities_Crime_Resources","Texas_2014.csv")
file_2015 = os.path.join("..","Resources","Texas_Cities_Crime_Resources","Texas_2015.csv")
file_2016 = os.path.join("..","Resources","Texas_Cities_Crime_Resources","Texas_2016.csv")
file_2017 = os.path.join("..","Resources","Texas_Cities_Crime_Resources","Texas_2017.csv")
file_2018 = os.path.join("..","Resources","Texas_Cities_Crime_Resources","Texas_2018.csv")

In [8]:
raw_2012_df = pd.read_csv(file_2012)
raw_2013_df = pd.read_csv(file_2013)
raw_2014_df = pd.read_csv(file_2014)
raw_2015_df = pd.read_csv(file_2015)
raw_2016_df = pd.read_csv(file_2016)
raw_2017_df = pd.read_csv(file_2017)
raw_2018_df = pd.read_csv(file_2018)

FileNotFoundError: [Errno 2] File ..\Resources\Texas_Cities_Crime_Resources\Texas_2016.csv does not exist: '..\\Resources\\Texas_Cities_Crime_Resources\\Texas_2016.csv'

In [7]:
# List of cities of interest
city_list = ['Houston, TX', 'Los Angeles, CA', 'Chicago, IL', 'New York City, NY', 'Phoenix, AZ']

# Drop years prior to 2012 to accomodate with housing market data.
drop_index = raw_df[raw_df['report_year'] < 2012].index
raw_df.drop(drop_index, inplace=True)

# New raw data from 2012-2015
years_of_interest_df = raw_df
years_of_interest_df

,report_year,agency_code,agency_jurisdiction,population,violent_crimes,homicides,rapes,assaults,robberies,months_reported,crimes_percapita,homicides_percapita,rapes_percapita,assaults_percapita,robberies_percapita
2553,2012,NM00101,"Albuquerque, NM",553684.0,4151.0,41.0,278.0,2740.0,1092.0,12.0,749.71,7.40,50.21,494.87,197.22
2554,2012,TX22001,"Arlington, TX",379295.0,1909.0,17.0,135.0,1225.0,532.0,12.0,503.30,4.48,35.59,322.97,140.26
2555,2012,GAAPD00,"Atlanta, GA",437041.0,6027.0,83.0,113.0,3555.0,2276.0,12.0,1379.05,18.99,25.86,813.42,520.77
2556,2012,CO00101,"Aurora, CO",336952.0,1400.0,17.0,172.0,729.0,482.0,12.0,415.49,5.05,51.05,216.35,143.05
2557,2012,TX22701,"Austin, TX",832901.0,3405.0,31.0,209.0,2187.0,978.0,12.0,408.81,3.72,25.09,262.58,117.42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2824,2015,OK07205,"Tulsa, OK",401520.0,3628.0,55.0,365.0,2354.0,854.0,NaN,903.57,13.70,90.90,586.27,212.69
2825,2015,VA12800,"Virginia Beach, VA",452797.0,626.0,19.0,103.0,234.0,270.0,NaN,138.25,4.20,22.75,51.68,59.63
2826,2015,DCMPD00,"Washington, DC",672228.0,8084.0,162.0,494.0,4024.0,3404.0,NaN,1202.57,24.10,73.49,598.61,506.38
2827,2015,KS08703,"Wichita, KS",389824.0,3839.0,27.0,349.0,2730.0,733.0,NaN,984.80,6.93,89.53,700.32,188.03
2828,2015,NaN,United States,NaN,1197704.0,15696.0,NaN,NaN,NaN,NaN,372.60,4.90,NaN,NaN,NaN

In [5]:
new_df.dropna()

,report_year,agency_code,agency_jurisdiction,population,violent_crimes,homicides,rapes,assaults,robberies,months_reported,crimes_percapita,homicides_percapita,rapes_percapita,assaults_percapita,robberies_percapita
2553,2012,NM00101,"Albuquerque, NM",553684.0,4151.0,41.0,278.0,2740.0,1092.0,12.0,749.71,7.40,50.21,494.87,197.22
2554,2012,TX22001,"Arlington, TX",379295.0,1909.0,17.0,135.0,1225.0,532.0,12.0,503.30,4.48,35.59,322.97,140.26
2555,2012,GAAPD00,"Atlanta, GA",437041.0,6027.0,83.0,113.0,3555.0,2276.0,12.0,1379.05,18.99,25.86,813.42,520.77
2556,2012,CO00101,"Aurora, CO",336952.0,1400.0,17.0,172.0,729.0,482.0,12.0,415.49,5.05,51.05,216.35,143.05
2557,2012,TX22701,"Austin, TX",832901.0,3405.0,31.0,209.0,2187.0,978.0,12.0,408.81,3.72,25.09,262.58,117.42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2754,2014,AZ01003,"Tucson, AZ",527328.0,3443.0,35.0,399.0,2021.0,988.0,12.0,652.91,6.64,75.66,383.25,187.36
2755,2014,OK07205,"Tulsa, OK",399556.0,3217.0,46.0,313.0,1938.0,920.0,12.0,805.14,11.51,78.34,485.04,230.26
2756,2014,VA12800,"Virginia Beach, VA",451102.0,667.0,17.0,115.0,285.0,250.0,12.0,147.86,3.77,25.49,63.18,55.42
2757,2014,DCMPD00,"Washington, DC",658893.0,7810.0,105.0,470.0,4004.0,3231.0,12.0,1185.32,15.94,71.33,607.69,490.37
2758,2014,KS08703,"Wichita, KS",387493.0,2939.0,21.0,243.0,2179.0,496.0,12.0,758.47,5.42,62.71,562.33,128.00

### Create a dataframe for violent crimes (total crimes) per capita or percentage per year for cities. Best way to show visualization would be through bar graphs.

In [10]:
years_of_interest_df[years_of_interest_df['agency_jurisdiction'] == 'Houston, TX']

,report_year,agency_code,agency_jurisdiction,population,violent_crimes,homicides,rapes,assaults,robberies,months_reported,crimes_percapita,homicides_percapita,rapes_percapita,assaults_percapita,robberies_percapita
2575,2012,TXHPD00,"Houston, TX",2177273.0,21610.0,217.0,665.0,11343.0,9385.0,12.0,992.53,9.97,30.54,520.97,431.04
2644,2013,TXHPD00,"Houston, TX",2180606.0,20993.0,214.0,618.0,10270.0,9891.0,12.0,962.71,9.81,28.34,470.97,453.59
2713,2014,TXHPD00,"Houston, TX",2219933.0,22008.0,242.0,812.0,10768.0,10186.0,12.0,991.38,10.90,36.58,485.06,458.84
2782,2015,TXHPD00,"Houston, TX",2275221.0,21994.0,303.0,986.0,10427.0,10278.0,NaN,966.68,13.32,43.34,458.29,451.74

### Create dataframes for types of crimes per city per year

### Create demographics database based on crimes.

### Utilize Google API to map crime and create a intensity graph based on violent crime percentage/per capita

### Dive deeper into crime data set by illustrating the history of crime for the major cities in question. (This wont be part of the over all analysis but it would be good to show and discuss)