In [80]:
import os
import pandas as pd

file_2012 = os.path.join("..","Resources","Texas_Cities_Crime_Resources","Texas_2012.csv")
file_2013 = os.path.join("..","Resources","Texas_Cities_Crime_Resources","Texas_2013.csv")
file_2014 = os.path.join("..","Resources","Texas_Cities_Crime_Resources","Texas_2014.csv")
file_2015 = os.path.join("..","Resources","Texas_Cities_Crime_Resources","Texas_2015.csv")
file_2016 = os.path.join("..","Resources","Texas_Cities_Crime_Resources","Texas_2016.csv")
file_2017 = os.path.join("..","Resources","Texas_Cities_Crime_Resources","Texas_2017.csv")
file_2018 = os.path.join("..","Resources","Texas_Cities_Crime_Resources","Texas_2018.csv")

In [81]:
raw_2012_df = pd.read_csv(file_2012)
raw_2013_df = pd.read_csv(file_2013)
raw_2014_df = pd.read_csv(file_2014)
raw_2015_df = pd.read_csv(file_2015)
raw_2016_df = pd.read_csv(file_2016)
raw_2017_df = pd.read_csv(file_2017)
raw_2018_df = pd.read_csv(file_2018)

In [82]:
#Rename column in 2012 dataframe
raw_2012_df = raw_2012_df.rename(columns = {"Forcible\nrape":"Rape"})
raw_2012_df.head()

,City,Year,Population,Violent\ncrime,Murder and\nnonnegligent\nmanslaughter,Rape,Robbery,Aggravated\nassault,Property\ncrime,Burglary,Larceny-\ntheft,Motor\nvehicle\ntheft,Arson
0,Abernathy,2012,"2,877",3,1,1,0,1,31,14,15,2,0
1,Abilene,2012,"119,886",472,3,38,127,304,"4,393","1,037","3,185",171,18
2,Alamo,2012,"19,178",182,0,11,10,161,"1,492",264,"1,147",81,1
3,Alamo Heights,2012,"7,305",14,0,6,4,4,240,34,198,8,0
4,Alice,2012,"19,627",172,10,8,6,148,"1,216",278,884,54,13

In [83]:
#Merge and rename columns - 2013 dataframe
raw_2013_df = raw_2013_df.fillna(0)
raw_2013_df['Rape\n(revised\ndefinition)1'] = raw_2013_df['Rape\n(revised\ndefinition)1'] +  raw_2013_df['Rape\n(legacy\ndefinition)2']
raw_2013_df = raw_2013_df.drop(['Rape\n(legacy\ndefinition)2'], axis=1)
raw_2013_df = raw_2013_df.rename(columns = {"Rape\n(revised\ndefinition)1":"Rape","Arson3": "Arson"})
raw_2013_df.head()

,City,Year,Population,Violent\ncrime,Murder and\nnonnegligent\nmanslaughter,Rape,Robbery,Aggravated\nassault,Property\ncrime,Burglary,Larceny-\ntheft,Motor\nvehicle\ntheft,Arson
0,Abernathy,2013,"2,821",0,0,0.0,0,0,12,12,0,0,1.0
1,Abilene,2013,"119,401",477,1,37.0,125,314,"4,769","1,055","3,460",254,16.0
2,Addison,2013,"15,961",51,1,4.0,11,35,784,129,593,62,1.0
3,Alamo,2013,"18,876",164,0,11.0,27,126,"1,336",203,"1,052",81,1.0
4,Alamo Heights,2013,"7,443",9,0,2.0,2,5,235,36,194,5,0.0

In [84]:
#Merge and rename columns - 2014 dataframe
raw_2014_df.drop(['Rape\n(legacy\ndefinition)2'], axis=1)
raw_2014_df = raw_2014_df.rename(columns = {"Rape\n(legacy\ndefinition)1":"Rape"})
raw_2014_df

,City,Year,Population,Violent\ncrime,Murder and\nnonnegligent\nmanslaughter,Rape\n(revised\ndefinition)1,Rape\n(legacy\ndefinition)2,Robbery,Aggravated\nassault,Property\ncrime,Burglary,Larceny-\ntheft,Motor\nvehicle\ntheft,Arson
0,Abernathy,2014.0,"2,801",6,0.0,3,NaN,0,3,36,15,19,2,0.0
1,Abilene,2014.0,"120,686",571,7.0,93,NaN,128,343,"5,344","1,095","3,887",362,28.0
2,Addison,2014.0,"16,061",67,0.0,8,NaN,15,44,686,83,541,62,2.0
3,Alamo,2014.0,"19,054",145,1.0,6,NaN,13,125,"1,244",160,992,92,2.0
4,Alamo Heights,2014.0,"7,673",5,0.0,1,NaN,1,3,257,44,210,3,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
621,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
622,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
623,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
624,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
625,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [85]:
#Drop blank column - 2015 datafile
raw_2015_df.drop(['Rape\n(legacy\ndefinition)2'], axis=1, inplace=True)
raw_2015_df = raw_2015_df.rename(columns = {"Rape\n(revised\ndefinition)1": "Rape"})
raw_2015_df.head()

,City,Year,Population,Violent\ncrime,Murder and\nnonnegligent\nmanslaughter,Rape,Robbery,Aggravated\nassault,Property\ncrime,Burglary,Larceny-\ntheft,Motor\nvehicle\ntheft,Arson
0,Abernathy,2015,"2,732",1,0,0,1,0,48,18,24,6,1
1,Abilene,2015,"121,764",613,7,84,128,394,"5,354","1,168","3,798",388,28
2,Addison,2015,"16,125",65,0,10,13,42,759,104,573,82,1
3,Alamo,2015,"19,385",159,0,17,13,129,"1,125",148,920,57,2
4,Alamo Heights,2015,"8,003",5,0,0,0,5,276,31,239,6,0

In [86]:
#drop blank column
raw_2016_df.drop(['Rape\n(legacy\ndefinition2)'], axis=1, inplace=True)
raw_2016_df = raw_2016_df.rename(columns = {"Rape\n(revised\ndefinition1)": "Rape"})
raw_2016_df.head()

,City,Year,Population,Violent\ncrime,Murder and\nnonnegligent\nmanslaughter,Rape,Robbery,Aggravated\nassault,Property\ncrime,Burglary,Larceny-\ntheft,Motor\nvehicle\ntheft,Arson
0,Abernathy,2016,"2,728",3,0,0,0,3,57,23,29,5,0
1,Abilene,2016,"122,523",546,8,70,133,335,"4,269",905,"3,113",251,21
2,Addison,2016,"16,067",101,1,12,28,60,840,100,650,90,6
3,Alamo,2016,"19,409",166,0,8,26,132,"1,013",108,833,72,3
4,Alamo Heights,2016,"8,248",8,1,1,2,4,268,37,227,4,1

In [87]:
#rename rape column to align with other files
raw_2017_df = raw_2017_df.rename(columns = {"Rape1": "Rape", "Cities": "City"} )
raw_2017_df.head()

,City,Year,Population,Violent\ncrime,Murder and\nnonnegligent\nmanslaughter,Rape,Robbery,Aggravated\nassault,Property\ncrime,Burglary,Larceny-\ntheft,Motor\nvehicle\ntheft,Arson
0,Abernathy,2017,"2,756",8,0,0,0,8,27,3,16,8,0
1,"Abilene2, 3",2017,"122,981",636,4,100,138,394,NaN,NaN,"2,605",260,20
2,Addison,2017,"15,795",95,0,22,16,57,773,111,565,97,5
3,Alamo,2017,"19,351",178,0,15,20,143,946,124,771,51,2
4,Alamo Heights,2017,"8,507",14,0,0,1,13,182,25,152,5,0

In [88]:
#rename rape column to align with other files
raw_2018_df = raw_2018_df.rename(columns = {"Rape1": "Rape", "State": "City"})
raw_2018_df.head()

,City,Year,Population,Violent\ncrime,Murder and\nnonnegligent\nmanslaughter,Rape,Robbery,Aggravated\nassault,Property\ncrime,Burglary,Larceny-\ntheft,Motor\nvehicle\ntheft,Arson
0,Abernathy,2018,"2,756",8,0,0,0,8,27,3,16,8,0
1,"Abilene2, 3",2018,"122,981",636,4,100,138,394,NaN,NaN,"2,605",260,20
2,Addison,2018,"15,795",95,0,22,16,57,773,111,565,97,5
3,Alamo,2018,"19,351",178,0,15,20,143,946,124,771,51,2
4,Alamo Heights,2018,"8,507",14,0,0,1,13,182,25,152,5,0

In [90]:
crime_df = raw_2012_df.append([raw_2013_df, raw_2014_df, raw_2015_df, raw_2016_df, raw_2017_df, raw_2018_df])
crime_df = crime_df[(crime_df["City"] == "Houston") | (crime_df["City"] == "Pasadena") |(crime_df["City"] == "League City") | (crime_df["City"] == "Sugar Land") | (crime_df["City"] == "Conroe") | (crime_df["City"] == "Baytown") | (crime_df["City"] == "Missouri City") | (crime_df["City"] == "Galveston") | (crime_df["City"] == "Texas City") | (crime_df["City"] == "Friendswood")]
crime_df

,City,Year,Population,Violent\ncrime,Murder and\nnonnegligent\nmanslaughter,Rape,Robbery,Aggravated\nassault,Property\ncrime,Burglary,Larceny-\ntheft,Motor\nvehicle\ntheft,Arson,Rape\n(revised\ndefinition)1,Rape\n(legacy\ndefinition)2
35,Baytown,2012.0,"74,420",247,5.0,15,97,130,"3,684",939,"2,438",307,23.0,NaN,NaN
115,Conroe,2012.0,"59,856",221,2.0,13,74,132,"2,061",447,"1,501",113,1.0,NaN,NaN
194,Friendswood,2012.0,"36,965",15,0.0,4,4,7,353,66,274,13,0.0,NaN,NaN
198,Galveston,2012.0,"49,170",296,2.0,37,118,139,"2,469",517,"1,792",160,12.0,NaN,NaN
255,Houston,2012.0,"2,177,273","21,610",217.0,665,"9,385","11,343","107,678","26,630","67,978","13,070",754.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319,League City,2018.0,"105,351",97,3.0,34,18,42,"1,718",218,"1,407",93,3.0,NaN,NaN
367,Missouri City,2018.0,"75,863",149,2.0,23,46,78,969,133,767,69,0.0,NaN,NaN
415,Pasadena,2018.0,"154,000",711,5.0,93,195,418,"3,773",636,"2,758",379,23.0,NaN,NaN
535,Sugar Land,2018.0,"89,790",71,0.0,15,36,20,"1,289",158,"1,075",56,0.0,NaN,NaN
552,Texas City,2018.0,"48,774",237,2.0,47,46,142,"1,704",336,"1,245",123,1.0,NaN,NaN

### Create a dataframe for violent crimes (total crimes) per capita or percentage per year for cities. Best way to show visualization would be through bar graphs.

### Create dataframes for types of crimes per city per year

### Create demographics database based on crimes.

### Utilize Google API to map crime and create a intensity graph based on violent crime percentage/per capita

### Dive deeper into crime data set by illustrating the history of crime for the major cities in question. (This wont be part of the over all analysis but it would be good to show and discuss)