In [23]:
import os
import pandas as pd

file_2012 = os.path.join("..","Resources","Texas_Cities_Crime_Resources","Texas_2012.csv")
file_2013 = os.path.join("..","Resources","Texas_Cities_Crime_Resources","Texas_2013.csv")
file_2014 = os.path.join("..","Resources","Texas_Cities_Crime_Resources","Texas_2014.csv")
file_2015 = os.path.join("..","Resources","Texas_Cities_Crime_Resources","Texas_2015.csv")
file_2016 = os.path.join("..","Resources","Texas_Cities_Crime_Resources","Texas_2016.csv")
file_2017 = os.path.join("..","Resources","Texas_Cities_Crime_Resources","Texas_2017.csv")
file_2018 = os.path.join("..","Resources","Texas_Cities_Crime_Resources","Texas_2018.csv")

In [24]:
raw_2012_df = pd.read_csv(file_2012)
raw_2013_df = pd.read_csv(file_2013)
raw_2014_df = pd.read_csv(file_2014)
raw_2015_df = pd.read_csv(file_2015)
raw_2016_df = pd.read_csv(file_2016)
raw_2017_df = pd.read_csv(file_2017)
raw_2018_df = pd.read_csv(file_2018)

In [25]:
#Drop blank column
raw_2015_df.drop(['Rape\n(legacy\ndefinition)2'], axis=1, inplace=True)
raw_2015_df = raw_2015_df.rename(columns = {"Rape\n(revised\ndefinition)1": "Rape"})
raw_2015_df.head()

,City,Year,Population,Violent\ncrime,Murder and\nnonnegligent\nmanslaughter,Rape,Robbery,Aggravated\nassault,Property\ncrime,Burglary,Larceny-\ntheft,Motor\nvehicle\ntheft,Arson
0,Abernathy,2015,"2,732",1,0,0,1,0,48,18,24,6,1
1,Abilene,2015,"121,764",613,7,84,128,394,"5,354","1,168","3,798",388,28
2,Addison,2015,"16,125",65,0,10,13,42,759,104,573,82,1
3,Alamo,2015,"19,385",159,0,17,13,129,"1,125",148,920,57,2
4,Alamo Heights,2015,"8,003",5,0,0,0,5,276,31,239,6,0

In [26]:
#drop blank column
raw_2016_df.drop(['Rape\n(legacy\ndefinition2)'], axis=1, inplace=True)
raw_2016_df = raw_2016_df.rename(columns = {"Rape\n(revised\ndefinition1)": "Rape"})
raw_2016_df.head()

,City,Year,Population,Violent\ncrime,Murder and\nnonnegligent\nmanslaughter,Rape,Robbery,Aggravated\nassault,Property\ncrime,Burglary,Larceny-\ntheft,Motor\nvehicle\ntheft,Arson
0,Abernathy,2016,"2,728",3,0,0,0,3,57,23,29,5,0
1,Abilene,2016,"122,523",546,8,70,133,335,"4,269",905,"3,113",251,21
2,Addison,2016,"16,067",101,1,12,28,60,840,100,650,90,6
3,Alamo,2016,"19,409",166,0,8,26,132,"1,013",108,833,72,3
4,Alamo Heights,2016,"8,248",8,1,1,2,4,268,37,227,4,1

In [21]:
#rename rape column to align with other files
raw_2017_df = raw_2017_df.rename(columns = {"Rape1": "Rape"})
raw_2017_df.head()

,Cities,Year,Population,Violent\ncrime,Murder and\nnonnegligent\nmanslaughter,Rape,Robbery,Aggravated\nassault,Property\ncrime,Burglary,Larceny-\ntheft,Motor\nvehicle\ntheft,Arson
0,Abernathy,2017,"2,756",8,0,0,0,8,27,3,16,8,0
1,"Abilene2, 3",2017,"122,981",636,4,100,138,394,NaN,NaN,"2,605",260,20
2,Addison,2017,"15,795",95,0,22,16,57,773,111,565,97,5
3,Alamo,2017,"19,351",178,0,15,20,143,946,124,771,51,2
4,Alamo Heights,2017,"8,507",14,0,0,1,13,182,25,152,5,0

In [22]:
#rename rape column to align with other files
raw_2018_df = raw_2018_df.rename(columns = {"Rape1": "Rape"})
raw_2018_df.head()

,State,Year,Population,Violent\ncrime,Murder and\nnonnegligent\nmanslaughter,Rape,Robbery,Aggravated\nassault,Property\ncrime,Burglary,Larceny-\ntheft,Motor\nvehicle\ntheft,Arson
0,Abernathy,2018,"2,756",8,0,0,0,8,27,3,16,8,0
1,"Abilene2, 3",2018,"122,981",636,4,100,138,394,NaN,NaN,"2,605",260,20
2,Addison,2018,"15,795",95,0,22,16,57,773,111,565,97,5
3,Alamo,2018,"19,351",178,0,15,20,143,946,124,771,51,2
4,Alamo Heights,2018,"8,507",14,0,0,1,13,182,25,152,5,0

In [ ]:
#crime_df = raw_2012_df.append([raw_2013_df, raw_2014_df, raw_2015_df, raw_2016_df, raw_2017_df, raw_2018_df])
#crime_df = crime_df[(crime_df["City"] == Houston) | (crime_df["City"] == Pasadena) | (crime_df["City"] == League City)
#crime_df

### Create a dataframe for violent crimes (total crimes) per capita or percentage per year for cities. Best way to show visualization would be through bar graphs.

### Create dataframes for types of crimes per city per year

### Create demographics database based on crimes.

### Utilize Google API to map crime and create a intensity graph based on violent crime percentage/per capita

### Dive deeper into crime data set by illustrating the history of crime for the major cities in question. (This wont be part of the over all analysis but it would be good to show and discuss)