In [12]:
import pandas as pd
import os

In [16]:
cities_path = os.path.join("..","Resources","cities_housing.csv")
national_path = os.path.join("..","Resources","national_housing.csv")
states_path = os.path.join("..","Resources","tx_housing.csv")

In [24]:
cities_housing_df = pd.read_csv(cities_path)
national_housing_df = pd.read_csv(national_path)
states_housing_df = pd.read_csv(states_path)

,Region,Month of Period End,Property Type,Region Type,Seasonally Adjusted,State Code,Avg Sale To List,Avg Sale To List Mom,Avg Sale To List Yoy,Homes Sold,...,Inventory Yoy,Median Dom,Median Dom Mom,Median Dom Yoy,Median Sale Price,Median Sale Price Mom,Median Sale Price Yoy,New Listings,New Listings Mom,New Listings Yoy
0,"Texas City, TX",February 2012,All Residential,Place/City,False,TX,0.939615,-0.5%,NaN,16,...,NaN,114,42,NaN,$73K,-2.0%,NaN,50,4.2%,NaN
1,"Pasadena, TX",May 2012,All Residential,Place/City,False,TX,0.975172,1.2%,2.0%,74,...,-26.2%,86,29,42.0,$115K,15.7%,23.3%,99,-19.5%,-14.7%
2,"Conroe, TX",July 2012,All Residential,Place/City,False,TX,0.967148,1.2%,1.0%,150,...,-8.2%,64,1,-13.0,$160K,-8.3%,2.7%,186,-3.6%,12.7%
3,"Pasadena, TX",July 2012,All Residential,Place/City,False,TX,0.952727,-3.4%,-0.5%,74,...,-23.2%,61,30,-5.0,$95K,-4.9%,-3.3%,105,-7.1%,-8.7%
4,"Texas City, TX",October 2012,All Residential,Place/City,False,TX,0.913395,-0.3%,NaN,32,...,NaN,69,-21,NaN,$55K,-26.6%,NaN,54,-1.8%,NaN

## Median Housing Price per City (line  graph)

## Inventory Changes - YoY

## New Listings

## Merging FBI data per county or city