In [1]:
from matplotlib import pyplot as plt
from scipy import stats
import numpy as np
import pandas as pd
import os

In [2]:
file_path = os.path.join("..", "Resources", "housingCensus.csv")
housingCensusDF = pd.read_csv(file_path)
print(f"Data Shape: {housingCensusDF.shape}")
housingCensusDF.head()

Data Shape: (413, 34)

,Geo_ID,Geographic Area Name,Year,Estimate HOUSING OCCUPANCY Total housing units,Estimate HOUSING OCCUPANCY Occupied housing units,Estimate HOUSING OCCUPANCY Vacant housing units,Estimate YEAR STRUCTURE BUILT Total housing units,Estimate YEAR STRUCTURE BUILT Built 2005 or later,Estimate YEAR STRUCTURE BUILT Built 2000 to 2004,Estimate YEAR STRUCTURE BUILT Built 1990 to 1999,...,"Estimate VALUE Less than $50,000","Estimate VALUE $50,000 to $99,999","Estimate VALUE $100,000 to $149,999","Estimate VALUE $150,000 to $199,999","Estimate VALUE $200,000 to $299,999","Estimate VALUE $300,000 to $499,999","Estimate VALUE $500,000 to $999,999","Estimate VALUE $1,000,000 or more",Estimate VALUE Median (dollars),State
0,1,United States,2012,132452249,115969540,16482709,132452249,1199560,19799406,18348209,...,6784356,12100148,12245474,11370120,13393416,11068593,5696677,1460472,171900.0,Texas
1,1000,"Abilene city, Texas",2012,48583,42756,5827,48583,669,4371,3133,...,4654,7085,4910,3475,1338,645,71,0,95300.0,Texas
2,1924,"Allen city, Texas",2012,28802,28574,228,28802,1026,12728,7679,...,80,425,3321,6738,5524,3323,1345,286,199600.0,Texas
3,3000,"Amarillo city, Texas",2012,80816,74018,6798,80816,669,9818,6229,...,5144,13317,13526,6681,4093,1670,571,102,115000.0,Texas
4,4000,"Arlington city, Texas",2012,147340,132941,14399,147340,755,19901,28780,...,3302,16210,26830,13884,9746,2086,860,79,129100.0,Texas

In [3]:
housingPriceRangeDF= pd.DataFrame(housingCensusDF[['Geo_ID', 'Year', 'Geographic Area Name', 'Estimate VALUE Less than $50,000','Estimate VALUE $50,000 to $99,999','Estimate VALUE $100,000 to $149,999',
                   'Estimate VALUE $150,000 to $199,999','Estimate VALUE $200,000 to $299,999','Estimate VALUE $300,000 to $499,999','Estimate VALUE $500,000 to $999,999',
                   'Estimate VALUE $1,000,000 or more','Estimate VALUE Median (dollars)']])

housingPriceRangeDF.head()

,Geo_ID,Year,Geographic Area Name,"Estimate VALUE Less than $50,000","Estimate VALUE $50,000 to $99,999","Estimate VALUE $100,000 to $149,999","Estimate VALUE $150,000 to $199,999","Estimate VALUE $200,000 to $299,999","Estimate VALUE $300,000 to $499,999","Estimate VALUE $500,000 to $999,999","Estimate VALUE $1,000,000 or more",Estimate VALUE Median (dollars)
0,1,2012,United States,6784356,12100148,12245474,11370120,13393416,11068593,5696677,1460472,171900.0
1,1000,2012,"Abilene city, Texas",4654,7085,4910,3475,1338,645,71,0,95300.0
2,1924,2012,"Allen city, Texas",80,425,3321,6738,5524,3323,1345,286,199600.0
3,3000,2012,"Amarillo city, Texas",5144,13317,13526,6681,4093,1670,571,102,115000.0
4,4000,2012,"Arlington city, Texas",3302,16210,26830,13884,9746,2086,860,79,129100.0

In [9]:
housingPriceRangeDF['Geographic Area Name'] = housingPriceRangeDF['Geographic Area Name'].replace("city, Texas","", regex=True)

housingPriceRangeDF['Estimate VALUE Less than $150,000'] = housingPriceRangeDF['Estimate VALUE Less than $50,000'] + housingPriceRangeDF['Estimate VALUE $50,000 to $99,999'] + housingPriceRangeDF['Estimate VALUE $100,000 to $149,999']
housingPriceRangeDF['Estimate VALUE $150,000 to $299,999'] =  housingPriceRangeDF['Estimate VALUE $150,000 to $199,999'] + housingPriceRangeDF['Estimate VALUE $200,000 to $299,999']

housingPriceRangeDF

,Geo_ID,Year,Geographic Area Name,"Estimate VALUE Less than $50,000","Estimate VALUE $50,000 to $99,999","Estimate VALUE $100,000 to $149,999","Estimate VALUE $150,000 to $199,999","Estimate VALUE $200,000 to $299,999","Estimate VALUE $300,000 to $499,999","Estimate VALUE $500,000 to $999,999","Estimate VALUE $1,000,000 or more",Estimate VALUE Median (dollars),"Estimate VALUE Less than $150,000","Estimate VALUE $150,000 to $299,999"
0,1,2012,United States,6784356,12100148,12245474,11370120,13393416,11068593,5696677,1460472,171900,31129978,24763536
1,1000,2012,Abilene,4654,7085,4910,3475,1338,645,71,0,95300,16649,4813
2,1924,2012,Allen,80,425,3321,6738,5524,3323,1345,286,199600,3826,12262
3,3000,2012,Amarillo,5144,13317,13526,6681,4093,1670,571,102,115000,31987,10774
4,4000,2012,Arlington,3302,16210,26830,13884,9746,2086,860,79,129100,46342,23630
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
401,58016,2018,Plano,59404,793,491,886,4172,16317,26966,8812,967,60688,5058
402,63572,2018,Rowlett,18171,124,257,1519,2615,8667,4664,228,97,18552,4134
403,65000,2018,San Antonio,270407,16903,60326,51544,50484,50593,31450,7648,1459,347636,102028
404,72656,2018,"The Woodlands CDP, Texas",29403,607,0,552,1787,5507,11111,7495,2344,30010,2339
405,1,2019,United States,77708394,5137750,8621352,9576933,10549229,15496144,15852636,9563467,2910883,91467496,20126162

In [6]:
cityNames = [70808 ,41980, 6128, 16432,35000, 48804, 7000, 56000, 56348, 72656, 77546, 1]

housingPriceHoustonDF = housingPriceRangeDF[housingPriceRangeDF['Geo_ID'].isin(cityNames)]

print(housingPriceHoustonDF)

housingPriceHoustonDF.to_csv('houstonHousing.csv', index = false)
print(housingPriceFilteredHoustonDF)

#

     Geo_ID  Year     Geographic Area Name  Estimate VALUE Less than $50,000  \
0         1  2012            United States                           6784356
7      6128  2012      Baytown city, Texas                              2764
8      7000  2012     Beaumont city, Texas                              5510
24    35000  2012      Houston city, Texas                             25598
28    41980  2012  League City city, Texas                               892
..      ...   ...                      ...                               ...
408   77546  2014       Friendswood, Texas                               324
409   77546  2015       Friendswood, Texas                               411
410   77546  2016       Friendswood, Texas                               349
411   77546  2017       Friendswood, Texas                               280
412   77546  2018       Friendswood, Texas                               246

     Estimate VALUE $50,000 to $99,999  Estimate VALUE $100,000 to $149,999  \
0                             12100148                             12245474
7                                 7097                                 3332
8                                 7369                                 4731
24                               99442                                72541
28                                1782                                 7333
..                                 ...                                  ...
408                                700                                 3579
409                                601                                 3600
410                                591                                 2944
411                                475                                 2690
412                                483                                 2263

     Estimate VALUE $150,000 to $199,999  Estimate VALUE $200,000 to $299,999  \
0                               11370120                             13393416
7                                   1660                                 1114
8                                   3522                                 2555
24                                 42546                                42037
28                                  7020                                 5497
..                                   ...                                  ...
408                                 2921                                 2907
409                                 2804                                 2693
410                                 2813                                 2711
411                                 2891                                 2961
412                                 2894                                 3085

     Estimate VALUE $300,000 to $499,999  Estimate VALUE $500,000 to $999,999  \
0                               11068593                              5696677
7                                    152                                   50
8                                   1353                                  240
24                                 35178                                18955
28                                  1855                                  376
..                                   ...                                  ...
408                                 2681                                  481
409                                 2761                                  637
410                                 3226                                  878
411                                 3292                                 1126
412                                 3637                                 1231

     Estimate VALUE $1,000,000 or more  Estimate VALUE Median (dollars)
0                              1460472                         171900.0
7                                   27                          91700.0
8                                  236                          99300.0
24                                7605                         124600.0
28                                   0                         161800.0
..                                 ...                              ...
408                                166                         184300.0
409                                188                         184500.0
410                                151                         204600.0
411                                169                         220000.0
412                                  0                         231300.0

[83 rows x 12 columns]

KeyError: "['Estimate VALUE $150,000 to $299,999', 'Estimate VALUE Less than $150,000'] not in index"